

.carrito {
    width: 2rem;
    height: 2rem;
    animation-name: girar;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
 @keyframes girar {

  from{
    transform: rotate(0deg);
  }to{
    transform: rotate(360deg);
  }
  
 }

 .cantidad{
  font-family: 'Gruppo', cursive;
 } 
  
.flexCart{
  display: flex;
  align-items: center;
  gap:0.5rem;
}