.logo {
    height: 8rem;
    padding: 1.5em;
    transition: 0.5s;
  }

  .logo:hover {
    filter: drop-shadow(2px 2px 1rem rgb(34, 0, 255));
  }
  
.navBar {
    display: flex;
    max-width: 1200px;
  }
  
  .headerFlex{
    display: flex;
   align-items: center;
   justify-content: center;
   justify-content: space-between;
   background-image:linear-gradient(45deg,black,black, black, rgb(114, 15, 103), red, orange, yellow, white )
  }
  
.navSupStyles{
  display: flex;
  justify-content: center;
  align-items: center;

  .ulFlex{
      display: flex;
      list-style-type: none;
      gap: 2rem;
      font-family: 'Gruppo', cursive;
      font-size: 1rem;
      align-items: center;
      padding-right: 2rem; 
  }
  }
    li{
        
          color: rgb(255, 255, 255);
          font-size: 1.5rem;
          font-weight: bolder;
          text-shadow: 1px 1px 1px black;
      } 
li:hover{
          color: goldenrod;
          cursor: pointer;
      }

