
.logo {
    height: 8rem;
    padding: 1.5em;
    transition: 0.5s;
  }

  .logo:hover {
    filter: drop-shadow(2px 2px 1rem rgb(34, 0, 255));
  }
  
.navBar {
    display: flex;
    max-width: 1200px;
  }
  
  .butFlex{
    display: flex;
    gap: 2rem;
  }
  
  .headerFlex{
    display: flex;
   align-items: center;
   gap: 19rem;
   padding-right: 2rem;
   background-image:linear-gradient(45deg,black,black, black, rgb(114, 15, 103), red, orange, yellow, white )
  }
  
  button {
    border-radius: 1rem;
    color: white;
    border: 2px solid transparent;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    font-family: 'Nothing You Could Do', cursive;
    font-weight: bolder;
    transition: 1s;
    cursor: pointer;
  }

  button:hover {
    border-color: #ffffff;
    color: goldenrod;
  }
  
  button:focus,
  button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }
  
  .carrito {
    width: 2rem;
    height: 2rem;
  }
  
  .btnCarrito {
    background-color: #ff0000;
    border: solid 1px black;
  }
  
  @media (prefers-color-scheme: light) {
    :root {
      color: #213547;
      background-color: #ffffff;
    }
    a:hover {
      color: #747bff;
    }
    button {
      background-color: #000000;
    }
  }