footer{
    background-color: black;
    background-image: linear-gradient(to right,black,black,black,rgb(0, 0, 108),black,black,black,);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    img {
        width: 2rem;
    }
  }
  
.ulFooter {

    li{
        font-size: 1rem;
        list-style-type: none;
    font-family: 'Gruppo', cursive;
    }
}

.footerFlex{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.logoFooter {
    width: 10rem;
}

.flexRedes{
    display: flex;
    justify-content: center;
    gap: 2rem;

    img{
        width: 2rem;
    }
}