
.navSupStyles{
    display: flex;
    justify-content: center;
    align-items: center;

    .ulFlex{
        display: flex;
        list-style-type: none;
        gap: 2rem;
        font-family: 'Gruppo', cursive;
        font-size: 1rem;
        align-items: center;

        li{
           transition: 1s; 
        }  
    }
    }

  li:hover{
            color: goldenrod;
            cursor: pointer;
        }